<!DOCTYPE html>
<html lang="en" ng-app="ContactsApp">
<head>
    <meta charset="UTF-8">
    <title>Contacts Application</title>
    <link href="public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="modules/core/client/css/login.css" rel="stylesheet">
    <link>
    <style>
        .zip{width:70px;}.borders{border:none;text-align:center}.title{text-align: center}
        .input-group-addon{ width:185px; }.form-control{width:185px; text-align: center}
        .border-class{border: groove}.searchBar{float:right;margin:8px}.logout-pos{margin-left: 900px;}
    </style>
</head>
<body>
<div ng-include ="'modules/core/client/views/navigation.core.tpl.html'"></div>
<!--<div ng-include ="'modules/core/client/views/login.core.tpl.html'"></div>-->
<!--<div ng-controller="Ctrl2" ng-include ="'modules/core/client/views/login.core.tpl.html'"></div>-->
<div ui-view></div>

<!--Custom Directive:-->
<!--<Contact-form></Contact-form>-->

<!--Vendor Libraries-->
<script src="public/lib/angular/angular.min.js"></script>
<script src="public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

<!--Application Dependencies-->
<script src="modules/core/client/app/config.js"></script>
<script src="modules/core/client/app/init.js"></script>
<!--<script src="modules/core/client/core.client.module.js"></script>-->
<script src="modules/core/client/routes/core.client.route.js"></script>
<script src="modules/core/client/controllers/core.client.controller.js"></script>
<script src="modules/core/client/services/core.client.service.js"></script>
<script src = "modules/core/client/filters/filters.js"></script>
<!--<script src = 'modules/core/client/directives/core.client.directive.js'></script>-->

</body>
</html>