<!--
<div align="center" class="contacts-form-container" ng-controller="saveCtrl">

    <form name="MyForm" class="bs-example bs-example-form" data-example-id="input-group-sizing">
        <div class="border-class">
            <br>
            <div class="input-group input-group-lg" ng-repeat="field in fields">
                <span class="input-group-addon" id="sizing-addon1" ng-bind="field | fieldFilter">
                <input class="form-control" value="{{field}}" aria-describedby="sizing-addon1" ng-model="{{field}}"></span>
            </div>
        </div>
    </form>
</div>-->
