<div class="contacts-form-container" ng-controller="deleteCtrl">

    <h3>ENTER THE CONTACT_ID: </h3> <br>

    <form class="bs-example1 bs-example-form1" data-example-id="input-group-sizing">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">ID</span>
            <input class="form-control" placeholder="ID" aria-describedby="sizing-addon1" ng-model="id">
        </div>
        <br>
        <button type="button" class="btn btn-default1" ng-click="deleteContact(id)">Delete</button>
    </form>

</div>